bucket       = "template-monorepo-terraform-state"
key          = "template-monorepo/staging/terraform.tfstate"
region       = "us-east-2"
profile      = "admin"
encrypt      = true
use_lockfile = true
